
.contenedor {
    max-width: 400px;
    margin: 50px auto;
    background: red;
    border-radius: 5px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  }

  .box{
    padding: 200px;
    background:white;
  }

  .boton{
    padding:5px;
    margin-left: -25px;
  }

  .caja{
    padding:30px;
    width: 250px;
    background:blue;
    margin-left:-155px;
    text-align: center;
  }

  

 

  

